# Bonus: Temperature Analysis I

In [16]:
import pandas as pd
# from datetime import datetime as dt
import matplotlib.pyplot as plt

In [17]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()
#df.dtypes

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [18]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [19]:
# Set the date column as the DataFrame index
df.set_index('date',inplace=True)
df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [20]:
from scipy import stats

In [21]:
# Filter data for desired months

df_june = df.loc[pd.DatetimeIndex(df.index).month == 6]
df_june = df_june.dropna(subset=['tobs'])
df_june = df_june.sort_index()

df_dec = df.loc[pd.DatetimeIndex(df.index).month == 12]
df_dec = df_dec.dropna(subset=['tobs'])
df_dec = df_dec.sort_index()

In [22]:
# Identify the average temperature for June
avg_temp_june = df_june['tobs'].mean()
avg_temp_june = round(avg_temp_june,2)

print (f"The average temperature for June : {avg_temp_june}")

The average temperature for June : 74.94

In [23]:
# Identify the average temperature for December
avg_temp_dec = df_dec['tobs'].mean()
avg_temp_dec = round(avg_temp_dec,2)

print (f"The average temperature for December : {avg_temp_dec}")

The average temperature for December : 71.04

In [24]:
# Create collections of temperature data
june_tobs_list = df_june['tobs'].to_list()
dec_tobs_list  = df_dec['tobs'].to_list()

In [25]:
# # Run paired t-test
# res =  stats.ttest_rel(june_tobs_list[0:1500], dec_tobs_list[0:1500])
# print(res)

In [26]:
res = stats.ttest_ind(june_tobs_list, dec_tobs_list, equal_var=False)
print(res)

Ttest_indResult(statistic=31.35503692096242, pvalue=4.193529835915755e-187)

### Analysis

* The p-value in this case is 4.193529835915755e-187, which is far less than the standard thresholds of 0.05 or 0.01. 
* Based on the p-value, it can be concluded that there is a statistically significant difference between the June temperature and the December temperature in the state of Hawaii.